---
clients:
  - description: "Client 1"
    api_key: "1234567890"
    allow_list:
      - subnet: "1.2.3.0/29"
        description: "Mocked IP: 1.2.3.4"
    permissions:
      debtor:
        - "list"
    instances:
      - your-hostfact-server.com
  - description: "Client 2"
    api_key: "0987654321"
    allow_list:
      - subnet: "1.2.3.4"
        description: "Mocked IP: 1.2.3.4"
    permissions:
      debtor:
        - "*"
    instances:
      - your-hostfact-server.com
  - description: "Client 3"
    api_key: "5432109876"
    allow_list:
      - subnet: "1.2.3.4"
        description: "Mocked IP: 1.2.3.4"
    permissions:
      all:
        - "*"
    instances:
      - your-hostfact-server.com
  - description: "Client 4"
    api_key: "1231231231"
    allow_list:
      - subnet: "1.2.3.4"
        description: "Mocked IP: 1.2.3.4"
    permissions:
      invoice:
        - "list"
    instances:
      - your-hostfact-server.com

hostfact_instances:
  - hostname: "your-hostfact-server.com"
    api_key: "secret"

